<link href="/styles.css" rel="stylesheet" type="text/css">
<h2><%= article.title %></h2>

<div class="well" class="bodyText">
  <p><%= article.body %></p>
</div>

<p>Edit the article below</p>
<form action="/articles/edit/<%= id %>" id="put-form">
  <input id="titleInput" type="text" name="title" value="<%= article.title %>"> <br>
  <textarea id="bodyInput" form="put-form" name="body"><%=article.body%></textarea> <br>
  <input type="button" value="Update">
</form>

<button id="back" href="./">Back</button>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script>
  $('[type=button]').on('click', function(e) {
    e.preventDefault();
    var updateUrl = $(this).parent().attr('action');
    var articleData = $(this).parent().serialize();
    $.ajax({
      method: 'PUT',
      url: updateUrl,
      data: articleData
    }).done(function(data) {
      window.location.href = './';
    });
  });

  $("#back").on('click', function(){
    window.location.href = './';
  })
</script>